@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (BlockGridImage)Model.Content;
    var settings = (ImageSettings)Model.Settings;

    var typedMediaPickerSingle = content.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("image");
    var imageAlignment = "";
    var imageWidth = "100%";
    var imageHeight = "100%";

    @if(settings?.Display != null) {
        if (settings?.Display == "Left") {
            imageAlignment = "left";
        } else if (settings?.Display == "Right") {
            imageAlignment = "right";
        } else {
            imageAlignment = "center";
        }
    }

    @if(settings?.Width.ToString() != "0")
    {
        imageWidth = settings?.Width.ToString() + "px";
    }

    @if(settings?.Height.ToString() != "0")
    {
        imageHeight = settings?.Height.ToString() + "px";
    }
}
    <style>
      #block-image-@content.Key-.block-image {
        padding-top: @(@settings?.PaddingTop + "px");
        padding-bottom: @(@settings?.PaddingBottom + "px");
        padding-left: @(@settings?.PaddingLeft + "px");
        padding-right: @(@settings?.PaddingRight + "px");
      }
       #block-image-@content.Key-.block-image {
        text-align: @imageAlignment;
       }

       #block-image-@content.Key-.block-image img {
            object-fit: cover;
            width: @imageWidth;
            height: @imageHeight;
       }

    @@media screen and (max-width: 900px) {
        #block-image-@content.Key-.block-image img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    </style>

    <div id="block-image-@content.Key-" class="block-image">
    @if (typedMediaPickerSingle != null)
    {
        <img src="@typedMediaPickerSingle.MediaUrl()" />
    }
    </div>
