@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (ShowPdfButton)Model.Content;
    var settings = (ShowPdfButtonSettings)Model.Settings;
    var buttonColor = "";
    var displaySetting = "";
    var justifyContent = "";
    var alignItems = "";

    if (settings.ButtonColor != null) {
        buttonColor = settings.ButtonColor;
    }

    @if (settings?.Display != null)
    {

        displaySetting = settings.Display.ToLower();
    }

    @if (settings?.JustifyContent != null)
    {

        justifyContent = settings.JustifyContent.ToLower();
    }

    @if (settings?.AlignItems != null)
    {

        alignItems = settings.AlignItems.ToLower();
    }

}
<style>
    #block-@content.Key-.ntc-modal-container {
        padding-top: @(@settings?.PaddingTop + "px");
        padding-bottom: @(@settings?.PaddingBottom + "px");
        padding-left: @(@settings?.PaddingLeft + "px");
        padding-right: @(@settings?.PaddingRight + "px");
    }
    .ntc-modal {
        max-width: 900px;
    }

    .ntc-modal-container.display-block {
        display: block;
    }

    .ntc-modal-container.display-inline {
        display: inline;
    }

    .ntc-modal-container.display-inline-block {
        display: inline-block;
    }

    .ntc-modal-container.display-flex {
        display: flex;
    }

    .ntc-modal-container.justify-content-start {
        justify-content: flex-start;
    }

    .ntc-modal-container.justify-content-end {
        justify-content: flex-end;
    }

    .ntc-modal-container.justify-content-center {
        justify-content: center;
    }

    .ntc-modal-container.align-items-start {
        align-items: flex-start;
    }

    .ntc-modal-container.align-items-end {
        align-items: flex-end;
    }

    .ntc-modal-container.align-items-center {
        align-items: center;
    }

    .ntc-modal-container .button-primary-2 {
        margin-left: 0;
        color: #000;
        font-weight: 300;
        background-color: @buttonColor;
    }


    .ntc-modal-container .button-primary-2:hover {
        background-color: #212529;
        color: #005E70;
    }
    .ntc-modal-container .btn-success {
        min-width: 180px;
        width: auto;
        height: 47px;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #42e55f;
        justify-content: center;
        align-items: center;
        padding: 12px 25px;
        font-family: Abel, sans-serif;
        font-size: 17px;
        line-height: 20px;
        transition: all .2s;
        display: inline-block;
        border-color: #42e55f;
    }

    .ntc-modal-container .btn-secondary {
        width: auto;
        height: 47px;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #ff001f;
        justify-content: center;
        align-items: center;
        padding: 12px 25px;
        font-family: Abel, sans-serif;
        font-size: 17px;
        line-height: 20px;
        transition: all .2s;
        display: inline-block;
        border-color: #ff001f;
    }


    .ntc-modal-container .modal{
        background-color: rgba(0,0,0, 0.8)
    }

</style>
<div id="block-@content.Key-" class="ntc-modal-container display-@displaySetting justify-content-@justifyContent align-items-@alignItems">
    <button class="btn button-primary-2" data-bs-toggle="modal" data-bs-target="#pdfModal-@content.Key">
        @content.ButtonName
    </button>
    <!-- Modal -->
    <div class="modal fade" id="pdfModal-@content.Key" tabindex="-1" aria-labelledby="pdfModalLabel-@content.Key" aria-hidden="true">
        <div class="modal-dialog ntc-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfModalLabel">PDF Preview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- PDF Preview -->
                    <iframe id="pdfViewer-@content.Key" src="" width="100%" height="500px"></iframe>
                </div>
                <div class="modal-footer">
                    <a id="downloadPdf-@content.Key" href="#" class="btn btn-success" download>Download PDF</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("pdfModal-@content.Key").addEventListener("show.bs.modal", function () {
            let pdfUrl = "@content.FilePath"; // Adjust the path to your PDF
            document.getElementById("pdfViewer-@content.Key").src = pdfUrl;
            document.getElementById("downloadPdf-@content.Key").href = pdfUrl;
        });
    });
</script>