@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (SixColumnLayout)Model.Content;
    var settings = (SixColumnSettings?)Model.Settings;
    var sectionBackgroundImage = content.BackgroundImage;
    var backgroundImage = "";
    var colOneDisplayClass = "";
    var colOneJustifyConClass = "";
    var colOneAlignItemsClass = "";
    var colTwoDisplayClass = "";
    var colTwoJustifyConClass = "";
    var colTwoAlignItemsClass = "";
    var colThreeDisplayClass = "";
    var colThreeJustifyConClass = "";
    var colThreeAlignItemsClass = "";
    var colFourDisplayClass = "";
    var colFourJustifyConClass = "";
    var colFourAlignItemsClass = "";
    var colFiveDisplayClass = "";
    var colFiveJustifyConClass = "";
    var colFiveAlignItemsClass = "";
    var colSixDisplayClass = "";
    var colSixJustifyConClass = "";
    var colSixAlignItemsClass = "";
    var colOneHeight = "";
    var colTwoHeight = "";
    var colThreeHeight = "";
    var colFourHeight = "";
    var colFiveHeight = "";
    var colSixHeight = "";

    var columnGap = "";
    
    @if(settings?.Gap != null) {

        columnGap = settings.Gap.ToString() + "px";
    }

    @if (sectionBackgroundImage != null)
    {
        backgroundImage = sectionBackgroundImage.Url();

    }

    @if(settings?.ColOneDisplay != null ) {

        colOneDisplayClass = settings.ColOneDisplay.ToLower();
    }

    @if (settings?.ColOneJustifyContent != null)
    {

        colOneJustifyConClass = settings.ColOneJustifyContent.ToLower();
    }

    @if (settings?.ColOneAlignItems != null)
    {

        colOneAlignItemsClass = settings.ColOneAlignItems.ToLower();
    }

    @if (settings?.ColTwoDisplay != null)
    {

        colTwoDisplayClass = settings.ColTwoDisplay.ToLower();
    }

    @if (settings?.ColTwoJustifyContent != null)
    {

        colTwoJustifyConClass = settings.ColTwoJustifyContent.ToLower();
    }

    @if (settings?.ColTwoAlignItems != null)
    {

        colTwoAlignItemsClass = settings.ColTwoAlignItems.ToLower();
    }

    @if (settings?.ColThreeDisplay != null)
    {

        colThreeDisplayClass = settings.ColThreeDisplay.ToLower();
    }

    @if (settings?.ColThreeJustifyContent != null)
    {

        colThreeJustifyConClass = settings.ColThreeJustifyContent.ToLower();
    }

    @if (settings?.ColThreeAlignItems != null)
    {

        colThreeAlignItemsClass = settings.ColThreeAlignItems.ToLower();
    }

    //

    @if (settings?.ColFourDisplay != null)
    {

        colFourDisplayClass = settings.ColFourDisplay.ToLower();
    }

    @if (settings?.ColFourJustifyContent != null)
    {

        colFourJustifyConClass = settings.ColFourJustifyContent.ToLower();
    }

    @if (settings?.ColFourAlignItems != null)
    {

        colFourAlignItemsClass = settings.ColFourAlignItems.ToLower();
    }
    
    //

    @if (settings?.ColFiveDisplay != null)
    {

        colFiveDisplayClass = settings.ColFiveDisplay.ToLower();
    }

    @if (settings?.ColFiveJustifyContent != null)
    {

        colFiveJustifyConClass = settings.ColFiveJustifyContent.ToLower();
    }

    @if (settings?.ColFiveAlignItems != null)
    {

        colFiveAlignItemsClass = settings.ColFiveAlignItems.ToLower();
    }

    //

    @if (settings?.ColSixDisplay != null)
    {

        colSixDisplayClass = settings.ColSixDisplay.ToLower();
    }

    @if (settings?.ColSixJustifyContent != null)
    {

        colSixJustifyConClass = settings.ColSixJustifyContent.ToLower();
    }

    @if (settings?.ColSixAlignItems != null)
    {

        colSixAlignItemsClass = settings.ColSixAlignItems.ToLower();
    }

    @if (settings?.ColOneHeight != null)
    {

        colOneHeight = settings.ColOneHeight.ToString();
    }

    @if (settings?.ColTwoHeight != null)
    {

        colTwoHeight = settings.ColTwoHeight.ToString();

    }
    
    @if (settings?.ColThreeHeight != null)
    {

        colThreeHeight = settings.ColThreeHeight.ToString();

    }

    @if (settings?.ColFourHeight != null)
    {

        colFourHeight = settings.ColFourHeight.ToString();

    }

    @if (settings?.ColFiveHeight != null)
    {

        colFiveHeight = settings.ColFiveHeight.ToString();

    }

    @if (settings?.ColSixHeight != null)
    {

        colSixHeight = settings.ColSixHeight.ToString();

    }
}
<style>
    #block-@content.Key-.six-column-layout {
        padding-top: @(@settings?.PaddingTop + "px");
        padding-bottom: @(@settings?.PaddingBottom + "px");
        padding-left: @(@settings?.PaddingLeft + "px");
        padding-right: @(@settings?.PaddingRight + "px");
    }

    .six-column-layout .umb-block-grid__area-container {
        display: flex;
        align-items: center;
        gap: @columnGap;
    }

    .six-column-layout .umb-block-grid__area {
        width: 25%;
        /* height: 610px; */
    }

    #block-@content.Key-.six-column-layout.col-1-width .umb-block-grid__area:nth-of-type(1) {
        width: @(@settings?.ColWidth.ToString() == "0" ? "50%" : @settings?.ColWidth.ToString() + "%");
    }

    #block-@content.Key-.six-column-layout.col-2-width .umb-block-grid__area:nth-of-type(2) {
        width: @(@settings?.ColTwoWidth.ToString() == "0" ? "50%" : @settings?.ColTwoWidth.ToString() + "%");
    }

    #block-@content.Key-.six-column-layout.col-3-width .umb-block-grid__area:nth-of-type(3) {
        width: @(@settings?.ColThreeWidth.ToString() == "0" ? "50%" : @settings?.ColThreeWidth.ToString() + "%");
    }

    #block-@content.Key-.six-column-layout.col-4-width .umb-block-grid__area:nth-of-type(4) {
        width: @(@settings?.ColFourWidth.ToString() == "0" ? "50%" : @settings?.ColFourWidth.ToString() + "%");
    }

    #block-@content.Key-.six-column-layout.col-5-width .umb-block-grid__area:nth-of-type(5) {
        width: @(@settings?.ColFiveWidth.ToString() == "0" ? "50%" : @settings?.ColFiveWidth.ToString() + "%");
    }

    #block-@content.Key-.six-column-layout.col-6-width .umb-block-grid__area:nth-of-type(6) {
        width: @(@settings?.ColSixWidth.ToString() == "0" ? "50%" : @settings?.ColSixWidth.ToString() + "%");
    }


    /**/
    .six-column-layout.col-1-display-flex .umb-block-grid__area:nth-of-type(1) {
        display: flex;
    }

    .six-column-layout.col-2-display-flex .umb-block-grid__area:nth-of-type(2) {
        display: flex;
    }

    .six-column-layout.col-3-display-flex .umb-block-grid__area:nth-of-type(3) {
        display: flex;
    }

    .six-column-layout.col-4-display-flex .umb-block-grid__area:nth-of-type(4) {
        display: flex;
    }

    .six-column-layout.col-5-display-flex .umb-block-grid__area:nth-of-type(5) {
        display: flex;
    }

    .six-column-layout.col-6-display-flex .umb-block-grid__area:nth-of-type(6) {
        display: flex;
    }

    /**/
    .six-column-layout.col-1-display-block .umb-block-grid__area:nth-of-type(1) {
        display: block;
    }

    .six-column-layout.col-2-display-block .umb-block-grid__area:nth-of-type(2) {
        display: block;
    }

    .six-column-layout.col-3-display-block .umb-block-grid__area:nth-of-type(3) {
        display: block;
    }

    .six-column-layout.col-4-display-block .umb-block-grid__area:nth-of-type(4) {
        display: block;
    }

    .six-column-layout.col-5-display-block .umb-block-grid__area:nth-of-type(5) {
        display: block;
    }

    .six-column-layout.col-6-display-block .umb-block-grid__area:nth-of-type(6) {
        display: block;
    }

    /**/
    .six-column-layout.col-1-display-inline .umb-block-grid__area:nth-of-type(1) {
        display: inline;
    }
    
    .six-column-layout.col-2-display-inline .umb-block-grid__area:nth-of-type(2) {
        display: inline;
    }

    .six-column-layout.col-3-display-inline .umb-block-grid__area:nth-of-type(3) {
        display: inline;
    }

    .six-column-layout.col-4-display-inline .umb-block-grid__area:nth-of-type(4) {
        display: inline;
    }

    .six-column-layout.col-5-display-inline .umb-block-grid__area:nth-of-type(5) {
        display: inline;
    }

    .six-column-layout.col-6-display-inline .umb-block-grid__area:nth-of-type(6) {
        display: inline;
    }

    /**/
    .six-column-layout.col-1-display-inline-block .umb-block-grid__area:nth-of-type(1) {
        display: inline-block;
    }

    .six-column-layout.col-2-display-inline-block .umb-block-grid__area:nth-of-type(2) {
        display: inline-block;
    }

    .six-column-layout.col-3-display-inline-block .umb-block-grid__area:nth-of-type(3) {
        display: inline-block;
    }

    .six-column-layout.col-4-display-inline-block .umb-block-grid__area:nth-of-type(4) {
        display: inline-block;
    }

    .six-column-layout.col-5-display-inline-block .umb-block-grid__area:nth-of-type(5) {
        display: inline-block;
    }

    .six-column-layout.col-6-display-inline-block .umb-block-grid__area:nth-of-type(6) {
        display: inline-block;
    }

    /**/

    .six-column-layout.col-1-justify-content-start .umb-block-grid__area:nth-of-type(1) {
        justify-content: flex-start;
    }

    .six-column-layout.col-2-justify-content-start .umb-block-grid__area:nth-of-type(2) {
        justify-content: flex-start;
    }

    .six-column-layout.col-3-justify-content-start .umb-block-grid__area:nth-of-type(3) {
        justify-content: flex-start;
    }

    .six-column-layout.col-4-justify-content-start .umb-block-grid__area:nth-of-type(4) {
        justify-content: flex-start;
    }

    .six-column-layout.col-5-justify-content-start .umb-block-grid__area:nth-of-type(5) {
        justify-content: flex-start;
    }

    .six-column-layout.col-6-justify-content-start .umb-block-grid__area:nth-of-type(6) {
        justify-content: flex-start;
    }

    /**/
    .six-column-layout.col-1-justify-content-end .umb-block-grid__area:nth-of-type(1) {
        justify-content: flex-end;
    }

    .six-column-layout.col-2-justify-content-end .umb-block-grid__area:nth-of-type(2) {
        justify-content: flex-end;
    }

    .six-column-layout.col-3-justify-content-end .umb-block-grid__area:nth-of-type(3) {
        justify-content: flex-end;
    }

    .six-column-layout.col-4-justify-content-end .umb-block-grid__area:nth-of-type(4) {
        justify-content: flex-end;
    }

    .six-column-layout.col-5-justify-content-end .umb-block-grid__area:nth-of-type(5) {
        justify-content: flex-end;
    }


    .six-column-layout.col-6-justify-content-end .umb-block-grid__area:nth-of-type(6) {
        justify-content: flex-end;
    }

    /**/
    .six-column-layout.col-1-justify-content-center .umb-block-grid__area:nth-of-type(1) {
        justify-content: center;
    }

    .six-column-layout.col-2-justify-content-center .umb-block-grid__area:nth-of-type(2) {
        justify-content: center;
    }

    .six-column-layout.col-3-justify-content-center .umb-block-grid__area:nth-of-type(3) {
        justify-content: center;
    }

    .six-column-layout.col-4-justify-content-center .umb-block-grid__area:nth-of-type(4) {
        justify-content: center;
    }

    .six-column-layout.col-5-justify-content-center .umb-block-grid__area:nth-of-type(5) {
        justify-content: center;
    }

    .six-column-layout.col-6-justify-content-center .umb-block-grid__area:nth-of-type(6) {
        justify-content: center;
    }

    /**/
    .six-column-layout.col-1-align-items-start .umb-block-grid__area:nth-of-type(1) {
        align-items: flex-start;
    }

    .six-column-layout.col-2-align-items-start .umb-block-grid__area:nth-of-type(2) {
        align-items: flex-start;
    }

    .six-column-layout.col-3-align-items-start .umb-block-grid__area:nth-of-type(3) {
        align-items: flex-start;
    }

    .six-column-layout.col-4-align-items-start .umb-block-grid__area:nth-of-type(4) {
        align-items: flex-start;
    }

    .six-column-layout.col-5-align-items-start .umb-block-grid__area:nth-of-type(5) {
        align-items: flex-start;
    }

    .six-column-layout.col-6-align-items-start .umb-block-grid__area:nth-of-type(6) {
        align-items: flex-start;
    }

    /**/
    .six-column-layout.col-1-align-items-end .umb-block-grid__area:nth-of-type(1) {
        align-items: flex-end;
    }

    .six-column-layout.col-2-align-items-end .umb-block-grid__area:nth-of-type(2) {
        align-items: flex-end;
    }

    .six-column-layout.col-3-align-items-end .umb-block-grid__area:nth-of-type(3) {
        align-items: flex-end;
    }

    .six-column-layout.col-4-align-items-end .umb-block-grid__area:nth-of-type(4) {
        align-items: flex-end;
    }

    .six-column-layout.col-5-align-items-end .umb-block-grid__area:nth-of-type(5) {
        align-items: flex-end;
    }

    .six-column-layout.col-6-align-items-end .umb-block-grid__area:nth-of-type(6) {
        align-items: flex-end;
    }

    /**/
    .six-column-layout.col-1-align-items-center .umb-block-grid__area:nth-of-type(1) {
        align-items: center;
    }

    .six-column-layout.col-2-align-items-center .umb-block-grid__area:nth-of-type(2) {
        align-items: center;
    }
    
    .six-column-layout.col-3-align-items-center .umb-block-grid__area:nth-of-type(3) {
        align-items: center;
    }

    .six-column-layout.col-4-align-items-center .umb-block-grid__area:nth-of-type(4) {
        align-items: center;
    }

    .six-column-layout.col-5-align-items-center .umb-block-grid__area:nth-of-type(5) {
        align-items: center;
    }


    .six-column-layout.col-6-align-items-center .umb-block-grid__area:nth-of-type(6) {
        align-items: center;
    }

    #block-@content.Key- .umb-block-grid__area:nth-of-type(1) {
        height: @(@settings?.ColOneHeight.ToString() == "0" ? "auto" : @settings?.ColOneHeight.ToString() + "px");
    }

    #block-@content.Key- .umb-block-grid__area:nth-of-type(2) {
        height: @(@settings?.ColTwoHeight.ToString() == "0" ? "auto" : @settings?.ColTwoHeight.ToString() + "px"); 
    }

     #block-@content.Key- .umb-block-grid__area:nth-of-type(3) {
        height: @(@settings?.ColThreeHeight.ToString() == "0" ? "auto" : @settings?.ColThreeHeight.ToString() + "px");
    }

    #block-@content.Key- .umb-block-grid__area:nth-of-type(4) {
        height: @(@settings?.ColFourHeight.ToString() == "0" ? "auto" : @settings?.ColFourHeight.ToString() + "px");
    }

    #block-@content.Key- .umb-block-grid__area:nth-of-type(5) {
        height: @(@settings?.ColFiveHeight.ToString() == "0" ? "auto" : @settings?.ColFiveHeight.ToString() + "px");
    }

     #block-@content.Key- .umb-block-grid__area:nth-of-type(6) {
        height: @(@settings?.ColSixHeight.ToString() == "0" ? "auto" : @settings?.ColSixHeight.ToString() + "px");
    }

    @@media screen and (max-width: 900px) {
        .six-column-layout .umb-block-grid__area-container {
            flex-wrap: wrap; 
        }

        #block-@content.Key-.six-column-layout .umb-block-grid__area-container .umb-block-grid__area:nth-of-type(1) {
            height: auto;
            width: 100% !important;
        }

        #block-@content.Key-.six-column-layout .umb-block-grid__area-container .umb-block-grid__area:nth-of-type(2) {
            height: auto;
            width: 100% !important;
        }

         #block-@content.Key-.six-column-layout .umb-block-grid__area-container .umb-block-grid__area:nth-of-type(3) {
            height: auto;
            width: 100% !important;
        }

        #block-@content.Key-.six-column-layout .umb-block-grid__area-container .umb-block-grid__area:nth-of-type(4) {
            height: auto;
            width: 100% !important;
        }

         #block-@content.Key-.six-column-layout .umb-block-grid__area-container .umb-block-grid__area:nth-of-type(5) {
            height: auto;
            width: 100% !important;
        }

         #block-@content.Key-.six-column-layout .umb-block-grid__area-container .umb-block-grid__area:nth-of-type(6) {
            height: auto;
            width: 100% !important;
        }
    }

</style>

<div id="block-@content.Key-" class="six-column-layout col-1-width col-2-width col-3-width col-4-width col-5-width col-6-width col-1-height col-2-height col-3-height col-4-height col-5-height col-6-height col-1-display-@colOneDisplayClass col-1-justify-content-@colOneJustifyConClass col-1-align-items-@colOneAlignItemsClass col-2-display-@colTwoDisplayClass col-2-justify-content-@colTwoJustifyConClass col-2-align-items-@colTwoAlignItemsClass col-3-display-@colThreeDisplayClass col-3-justify-content-@colThreeJustifyConClass col-3-align-items-@colThreeAlignItemsClass  col-4-display-@colFourDisplayClass col-4-justify-content-@colFourJustifyConClass col-4-align-items-@colFourAlignItemsClass col-5-display-@colFiveDisplayClass col-5-justify-content-@colFiveJustifyConClass col-5-align-items-@colFiveAlignItemsClass col-6-display-@colFiveDisplayClass col-6-justify-content-@colFiveJustifyConClass col-6-align-items-@colFiveAlignItemsClass">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>